body {
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    color: #FFFFFF;
    margin: 0;
}

div, iframe {
    border-width: 0px;
}

iframe {
    position: fixed;
}

.menuPanel div.colorBar {
    margin: 0;
    width: 5px;
    height: calc(100% - 1px);
    float: left;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #2A2A2A;
}

.menuPanel div.green div.colorBar {
    background-color: green;
}

.menuPanel div.green a:hover {
    color: green;
}

.menuPanel div.red div.colorBar {
    background-color: red;
}

.menuPanel div.red a:hover {
    color: red;
}

.menuPanel div.blue div.colorBar {
    background-color: blue;
}

.menuPanel div.blue a:hover {
    color: blue;
}

.menuPanel div.yellow div.colorBar {
    background-color: yellow;
}

.menuPanel div.yellow a:hover {
    color: yellow;
}

.menuPanel div.item {
    margin: 0;
    display: block;
    overflow: auto;
    height: 50px;
    line-height: 49px;
}

.menuPanel div.overall {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #2A2A2A;
}

.menuPanel a {
    margin-left: 0;
    display: block;
    overflow: auto;
    height: calc(100% - 1px);
    background: url('/img/menu_right_arrow.png') no-repeat 1% 50%;
    background-size: 28px;
    padding-left: 35px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #2A2A2A;
}

.menuPanel a:hover {
    color: green;
}

button.customBlue {
  background: #00ACE9;
  background-image: -webkit-linear-gradient(top, #00ACE9, #0080E9);
  background-image: -moz-linear-gradient(top, #00ACE9, #0080E9);
  background-image: -ms-linear-gradient(top, #00ACE9, #0080E9);
  background-image: -o-linear-gradient(top, #00ACE9, #0080E9);
  background-image: linear-gradient(to bottom, #00ACE9, #0080E9);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 20px;
  padding: 8px 0 8px 0;
  border: none;
  text-decoration: none;
}

button.customBlue:hover {
  background: #00BEE9;
  background-image: -webkit-linear-gradient(top, #00BEE9, #0097E9);
  background-image: -moz-linear-gradient(top, #00BEE9, #0097E9);
  background-image: -ms-linear-gradient(top, #00BEE9, #0097E9);
  background-image: -o-linear-gradient(top, #00BEE9, #0097E9);
  background-image: linear-gradient(to bottom, #00BEE9, #0097E9);
  text-decoration: none;
}
